body {
	background-color: beige;
	text-align: center;
}

.flex-container {
	border: 1px solid black;
	background-color: #ccc;
    padding: 20px;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: nowrap;
*/
    flex-flow: row wrap;
    align-content: center;

}

.caja {
	/*border: 1px solid black; */
	background-color: lightblue;
	width: 200px;
	line-height: 200px;
	margin: 5px;
}

.c1 {
	background-color: lightblue;
	order: 1;
	flex-basis: 50px;
	flex-grow: 1;
}
.c2 {
	background-color: lightsalmon;
	order: 3;
	flex-grow: 1;
}
.c3 {
	background-color: lightsteelblue;
	order: 2;
	flex-grow: 1;
}
